*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  /* transition: background 350ms ease 0s; */
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.725rem);
}
html,
body {
  height: 100%;
}

:root {
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 400;
  --font-family: system-ui, -apple-system, "Segoe UI", 'Roboto', "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-size-xs: 0.75rem; /* 12 */
  --font-size-sm: 0.875rem; /* 14 */
  --font-size-md: 1rem; /* 16 */
  --font-size-lg: 1.1875rem; /* 19 */
  --font-size-xl: 1.3125rem; /* 21 */
  --font-size-2xl: 1.5rem; /* 24 */
  --font-size-3xl: 2rem; /* 32 */
  --font-size-4xl: 2.652rem; /* 42 */
  --font-size-5xl: 4rem; /* 64 */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
  transition: 160ms;
}
a:hover {
  color: var(--primary);
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
button {
  background: none;
  cursor: pointer;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  overflow-wrap: break-word;
  color: var(--text);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--text);
}
#root,
#__next {
  isolation: isolate;
}
html {
  scroll-behavior: smooth;
}
ul,
ol {
  list-style: none;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.logo {
  height: 100px;
}
.navbar-nav{
  gap: 50px;
}