{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block title %}Adicionar{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/almoxarifado.css' %}">

{% endblock %}
{% block os %}fw-bolder{% endblock %}
{% block main %}
<div class="row">
  <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">
                <div class="row py-3 px-4">
                    <div class="col bg p-5">
                        <h1 class="display-4 text-center">ORDEM DE SERVIÇO</h1>
                    </div>
                </div>              
                <div class="row">
                    <div class="col px-4">                        
                        <!-- <div class="bg-light py-1 px-2 d-flex">
                            <a class="ms-auto" href="{% url 'alm_adicionar_material_ao_estoque' %}">
                              <i class="fa-solid fa-plus me-2"></i>Adicionar material
                            </a>
                            <a class="ms-4" href="{% url 'alm_listar_tipos'%}">
                              <i class="fa-solid fa-gear me-2"></i>Materiais
                            </a>                                           
                        </div> -->
                        <div class="pt-4 px-2">
                            <form method="POST">
                                <h2>Solicitar OS</h2>
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-primary">
                                Enviar
                                </button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>    
  </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="formCandidato" aria-hidden="true" aria-labelledby="formCandidatoLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark text-center" id="exampleModalToggleLabel">CANDIDATAR-SE A ESCOLINHA DE SKATE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">            
            <form id="form" action="#">
                
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#confirmarCadastro" data-bs-toggle="modal" onclick="enviarFormulario()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="confirmarCadastro" aria-hidden="true" aria-labelledby="confirmarCadastroLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalToggleLabel2">RESPOSTA AQUI</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hide this modal and show the first with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-target="#formCandidato" data-bs-toggle="modal">Voltar ao formulário</button>
          <button class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">Confirmar informações</button>
        </div>
      </div>
    </div>
  </div>  
  <script>
       function icpf(v){
        v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o segundo e terceiro digitos
        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o quinto e o sexto digitos
        v=v.replace(/(\d{3})(\d)/,"$1-$2")       //Coloca um ponto entre o quinto e o sexto digitos
        // v=v.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5")
        return v
    }
    function mascara(o,f){
        v_obj=o
        v_fun=f
        setTimeout("execmascara()",1)
    }            
    function execmascara(){
        v_obj.value=v_fun(v_obj.value)
    }
    function itel(v){
        if (v.length==15){
            v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
            v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
            v=v.replace(/(\d{5})(\d)/,"$1-$2")  
        }else{
            v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
            v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
            v=v.replace(/(\d{4})(\d)/,"$1-$2")    // 
        }
        return v
    }
  </script>
{% endblock %}