{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/almoxarifado.css' %}">

{% endblock %}
{% block administrativo %}fw-bold{% endblock %}
{% block main %}
<div class="row">
    <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">
                <div class="row py-3 px-4">
                    <div class="col bg p-5">
                        <h1 class="display-4 text-center">almoxarifado</h1>
                    </div>
                </div>              
                <div class="row">
                    <div class="col px-4">
                        <div class="px-2  d-flex">
                            <a class="ms-auto" href="{% url 'alm_adicionar_tipo' %}">
                                <i class="fa-solid fa-plus me-2"></i>Tipo Material
                            </a>
                            <a class="ms-4" href="{% url 'alm_adicionar_material' %}">
                                <i class="fa-solid fa-plus me-2"></i>Novo Material
                            </a>
                            <a class="ms-4" href="{% url 'alm_index' %}">
                                <i class="fa-solid fa-rotate-left me-2"></i>Voltar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col px-4 pt-4">   
                      <div class="px-2">
                        <h4>Tipos de Materiais</h4>                     
                        <table class="table table-striped table-hover">
                            <tbody>
                                {% for tipo in tipos %}
                                <tr>
                                    <td class="d-flex">
                                      <a class="me-2" href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                                      {{tipo.nome}}
                                      <a class="ms-auto" href="#">Listar materiais</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col">
                      <div class="px-2 pt-4">
                        <h4>Materiais</h4>                     
                        <table>
                            <tbody id="material">                               
                                <tr>
                                    <td><i class="text-secondary">Escolha um tipo de material.</i></td>
                                </tr>                                
                            </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<!-- MODAL -->
{% if messages %}

<div class="warnings"></div>
<script>
  {% for message in messages %}
  Message.push("{{ message|escape }}")
  console.log("{{ message|escape }}")
  {% endfor %}
</script>
{% endif %} 
<div class="modal fade" id="formCandidato" aria-hidden="true" aria-labelledby="formCandidatoLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark text-center" id="exampleModalToggleLabel">CANDIDATAR-SE A ESCOLINHA DE SKATE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">            
            <form id="form" action="#">
                
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#confirmarCadastro" data-bs-toggle="modal" onclick="enviarFormulario()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="confirmarCadastro" aria-hidden="true" aria-labelledby="confirmarCadastroLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalToggleLabel2">RESPOSTA AQUI</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hide this modal and show the first with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-target="#formCandidato" data-bs-toggle="modal">Voltar ao formulário</button>
          <button class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">Confirmar informações</button>
        </div>
      </div>
    </div>
  </div>  

{% endblock %}