<footer class="row" style="border-top: 1px solid black">
  <div class="col">
    <div class="row pt-5 pb-4 mobile-flex-column">
      <div class="col d-flex flex-column">
        <img
          class="img-fluid logo m-auto"
          src="/static/images/logo_pmnf_cultura.png"
          alt=""
        />
        <p class="mx-auto mt-4">
          <a href="https://www.facebook.com/CulturaNF" class="text-dark">
            <i class="fa-brands fa-facebook fa-2x me-4 mb-2"></i>
          </a>
          <!-- <i class="fa-brands fa-linkedin fa-2x me-4 mb-2"></i> -->
          <a href="https://www.instagram.com/culturanf/" class="text-dark">
            <i class="fa-brands fa-instagram fa-2x me-4 mb-2"></i>
          </a>
          <a
            href="https://www.youtube.com/channel/UCyq6SUw1FW5dGNe2Wn3D73w"
            class="text-dark"
          >
            <i class="fa-brands fa-youtube fa-2x me-4 mb-2"></i>
          </a>
          <!-- <i class="fa-brands fa-whatsapp fa-2x me-4"></i> -->
          <a href="mailto:gabinetecultura.pmnf@gmail.com" class="text-dark">
            <i class="fa-solid fa-envelope fa-2x"></i>
          </a>
        </p>
      </div>
      <div class="col">
        <!-- <h5>Sobre Nós</h5> -->
        <p>
          <b class="text-uppercase">
            © Secretaria Municipal de Cultura de Nova Friburgo
          </b>
        </p>
        <p>
            <i class="fa-solid fa-x"></i>
          <b><i class="fa-solid fa-location-dot me-2"></i></b>
          R. Farinha Filho, 50 - Centro, Nova Friburgo - RJ, 28610-175
        </p>
        <p>
          <b><i class="fa-solid fa-clock me-2"></i></b>
          09:00 às 17:00 de Seg. à Sex.
        </p>
        <p>
          <b><i class="fa-solid fa-phone me-2"></i></b>
          (22) 2521-1558
        </p>
      </div>
    </div>
    <div class="row bg-black text-white">
      <div class="col d-flex px-4 pt-4 pb-2">
        <div class="d-flex mx-auto">
          <b class="ms-2"
            >© SECRETARIA DE CIÊNCIA, TECNOLOGIA, INOVAÇÃO E EDUCAÇÃO
            PROFISSIONALIZANTE E SUPERIOR.</b
          >
        </div>
      </div>
    </div>
    <div class="row text-white">
      <div class="col text-center pb-3 bg-black">
        <a href="#"> Política de Privacidade </a>
      </div>
    </div>
  </div>
</footer>
