<header class="row">
  <div class="col" style="border-bottom: 1px solid black">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            class="img-fluid logo"
            src="/static/images/logo_pmnf_cultura.png"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>                  -->
            <!-- <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Secretaria
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">A Secretaria</a></li>
                      <li><a class="dropdown-item" href="#">Estrutura</a></li>                      
                    </ul>
                  </li>-->
            <!-- <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Nossos espaços
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">A Secretaria</a></li>
                      <li><a class="dropdown-item" href="#">Estrutura</a></li>           
                    </ul>
                  </li>  -->
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
              >
                Ordem de serviço
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Almoxarifado
              </a>
            </li>
          </ul>
          <div class="d-flex ms-auto">
            <a href="/login" class="btn text-uppercase" type="submit"
              ><i class="fa-solid fa-user me-2"></i> Login</a
            >
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
